<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>test.htm</title>
  </head>
  <body>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self"><br>
        <button name="Start" value="start" type="submit">
          <p style="width: 106px;">Get Status</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self"><br>
        <button name="Start" value="start" type="submit">
          <p style="width: 106px;">Start</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self"><br>
        <button name="Start" value="start" type="submit">
          <p style="width: 74px;">Stop</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self"><br>
        <button name="Start" value="start" type="submit">
          <p style="width: 139px;">Close All Orders</p>
        </button> <br>
      </form>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self"><br>
        <button name="Start" value="start" type="submit">
          <p style="width: 146px;">Close All pending orders</p>
        </button> <br>
        <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self"><label>Level Space in pips:</label><br>
        <input name="level_space" value="100" type="text"><br>
        <button name="Start" value="start" type="submit">
          <p style="width: 140px;">Set level space in pips</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self"><br>
        <label>num of levels :</label><br>
        <input name="level_space" value="<%= title %>" type="text"><br>
        <button name="Start" value="start" type="submit">
          <p style="width: 170px;">Set number of levels</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self"><br>
        <label>Continue parameter :</label><br>
        <input name="level_space" value="1" type="radio"><br>
        <button name="Start" value="start" type="submit">
          <p style="width: 170px;">Set Continue</p>
        </button> <br>
      </form>
    </div>
  </body>
</html>
