<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>EA Control</title>
  </head>
  <body>
    <div style="left:auto;right:auto;text-align: center;">
      <p style="font-size:30px;"><%= status_ea %></p>
      <br>
      <form name="" action="" target="_self" method="post" ><br>
        <button name="get_status" value="1" type="submit">
          <p style="width: 101px;">Get Status</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self" method="post"><br>
        <button name="start" value="1" type="submit">
          <p style="width: 106px;">Start</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self" method="post"><br>
        <button name="stop" value="1" type="submit">
          <p style="width: 74px;">Stop</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self" method="post"><br>
        <button name="close_all_orders" value="1" type="submit">
          <p style="width: 139px;">Close All Orders</p>
        </button> <br>
      </form>
    </div>
    <div style="left:auto;right:auto;text-align: center;">
      <form name="" action="" target="_self" method="post"><br>
        <button name="close_all_pendings" value="1" type="submit">
          <p style="width: 139px;">Close All pending Orders</p>
        </button> <br>
      </form>
    </div>
  </body>
</html>
